<style>
body {
	text-align: center;
	font-family: Oswald;
}
</style>
<body>
<h1>Best Restaurants in Cape Town</h1>
<a href="/cuisinetypes">Restaurants By Cuisine Type</a> |
<a href="/restaurants">Restaurant Listing</a>
</body>